.categories{
    display: inline;
    color: black;
    padding: 20px 20px;
}
.product__category {
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.75rem;
    border-radius: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: red;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    word-spacing: 10px;
    display: inline-block;
}
.single-page {
    margin-left: 40px;
}   
.product_price {
    font-weight: 900;
    margin: 0 0.5rem 0 0;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.product__name {

    overflow: hidden;
    font-size: 16px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    
    line-height: 1.0em;
    height: 3em;
    overflow: hidden;


}
.product__price {
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
    display: inline-block;
    float: left;
    
}


.product__rating {
    color: white;
    display: inline-block;
    float: right;
    position: absolute;
    padding: 2px;
    right: 0;
    z-index: 20;
    background: #2f2f2e;
    border-radius: 25px;
    cursor: pointer;
}
.pp-btn {
    border: none;
    
    border-radius: 0.5rem !important;
    font-weight: 700;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f90;
}
@media (max-width: 600px){

    .single-page {
        margin-left: 15px;
    }
}
